<app-header />
<main>
<ul id="users">
    <!-- @for (user of users; track user.id){ version angular 17++ -->  
        <li *ngFor="let user of users">
            <app-user  [user]="user"  [selected]="user.id === selectedUserId" (select)="onSelectUser($event)" />
        </li>
    <!--  } -->
</ul>
    <!-- @if (selectedUser) { -->
    <app-tasks [userId]="selectedUser.id" *ngIf="selectedUser; else fallback" [name]="selectedUser.name"  />
    <!--} @else {  Fallbacks-->
    <ng-template #fallback>
        <p id="fallback"> Select user to see their tasks</p>
    </ng-template>

    <!-- }-->
</main>
